
body{
    background:  #1E2761;
    color: white;
    text-align: center;
}
table{
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    text-align: left;
}
.page{
    background-color: #408EC6;
}

.Card{
    margin:10px;
    height: 100px;
    width: 300px;
    display: inline-block;
}
img{
    padding: 5px;
    width: 150px;
}
.certificationlink{
    text-decoration: none;
    color:white;
    text-align: center;
}

.aboutmelink{
    color:white;
    text-decoration: underline;
}

#profilepicture{
    border-radius: 50%;
    width: 300px;
}