ul {
    padding: 0;
    text-align: center;
  }
  nav{
    background:  #7A2048;
    padding: 0.5px;
  }
  li {
    display: inline-block;
    background:  #7A2048;
    transition: all 2000ms ease-in-out;
    padding: 10px 10px 10px 10px;
    font-size: 20px;
    text-align: center;
    border:none;

  }
  
  li:hover {
   color: #7A2048;
    text-decoration: underline;
  }
  
  a {
    text-decoration: none;
     border:none;

  }
  
  a:visited {
    color:white;
    text-decoration: underline;
    border:none;
    border-style : solid ;
  }
  #menuicon{
    width:30px;
  }
  
  @media only screen and (max-width: 768px) {
    ul { 
      display: grid;
      grid-template-columns: 1fr ;
      position: absolute;
      background-color: white;
  
    }
    li{
      margin: 0px 0px 0px 0px;
      border-radius: 0px;
     }
  }